<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Stores</title>
  <link rel="stylesheet" href="assets/bootstrap/css/styles.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
  <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-light navbar-expand bg-light navigation-clean">
    <div class="container"><a class="navbar-brand" href="/">CoronaHelp</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
      </button>
      <a class="btn btn-primary ml-auto" role="button" href="/add-store">Add your store!</a>
    </div>
  </nav>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#f3f4f5" fill-opacity="1"
      d="M0,192L40,176C80,160,160,128,240,106.7C320,85,400,75,480,90.7C560,107,640,149,720,144C800,139,880,85,960,74.7C1040,64,1120,96,1200,117.3C1280,139,1360,149,1400,154.7L1440,160L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z">
    </path>
  </svg>
  <header id="list-page" class="masthead text-black text-center">
    <form action="/list-stores" method="POST">
      <div class=" form-row">
        <div class="col-1 col-md-3"> </div>
        <div class="col-10 col-md-5 mb-1 mb-md-0">
          <input class="form-control form-control-lg" type="text" id="autocomplete" name="autocomplete" size="50" placeholder="Enter your location" />
        </div>
        <div class="col-4 col-md-1"></div>
        <input type="text" id="resultid" name="resultid" hidden>
        <div class="col-4 col-md-1"><button class="btn btn-primary btn-block btn-lg">Search</button></div>
      </div>
    </form>

    <%if (message) {%>
    <div class="col-sm-12 col-md-2 col-lg-4 mx-auto"></div>
    <div class="col-sm-12 col-md-8 col-lg-6 mx-auto" style="text-align: center; margin-top:50px;">
      <h4><%=message%></h4>
      <%}%>
       <p class="text-muted  mb-4 mb-lg-0" style="text-align: center;">Can't find your city? Help spread the word!</p>
       <h4>Share via:</h4><a href="https://wa.me/?text=Check out www.corona-help.in! The COVID-19 pandemic is steadily spreading in India, and our daily routines are all but disrupted.
With the 3 week lockdown in place, and restrictions on leaving our homes, it can be difficult to understand which stores are open for necessary supplies and where to go to find them.

Through our site, shop owners and other businessmen can add their stores online and information about the supplies they have. Users can search for stores open in a particular area, and see the supplies they are keeping. This can reduce the efforts of searching for supplies in different stores.

If you are a shop owner, do add your store to the list so that you can play your part in easing lives during these trying times.

And for everyone else, stay home, stay safe, use our site and go out only when and where necessary!"><i class="fab fa-whatsapp" style="font-size:30px;color:green; margin-right: 20px;"></i></a>
            <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Check out www.corona-help.in. The COVID-19 pandemic is steadily spreading in India, and our daily routines are all but disrupted.
    With the 3 week lockdown in place, and restrictions on leaving our homes, it can be difficult to understand which stores are open for necessary supplies and where to go to find them.

    Through our site, shop owners and other businessmen can add their stores online and information about the supplies they have. Users can search for stores open in a particular area, and see the supplies they are keeping. This can reduce the efforts of searching for supplies in different stores.

    If you are a shop owner, do add your store to the list so that you can play your part in easing lives during these trying times.

    And for everyone else, stay home, stay safe, use our site and go out only when and where necessary!" data-size="large"><i class="fab fa-twitter" style="font-size:30px;"></i></a>
      <br>
    </div>


    <% if(stores.length!=0) {%>
      <div class="container">
        <div class="col-sm-8 col-md-4 col-lg-4 mx-auto" style="margin-top: 20px;">
          Filters:
          <input type="checkbox" id="delivery" name="delivery" value="0" onclick='applyFilter("Delivery")'>Home Delivery
          <input type="checkbox" id="groceries" name="groceries" value="0" onclick='applyFilter("Groceries")'>Groceries
          <input type="checkbox" id="medicines" name="medicines" value="0" onclick='applyFilter("Medicines")'>Medicines
          <input type="checkbox" id="vegetables" name="vegetables" value="0" onclick='applyFilter("Vegetables")'>Vegetables
          <input type="checkbox" id="toiletries" name="toiletries" value="0" onclick='applyFilter("Toiletries")'>Toiletries
          <input type="checkbox" id="pet-supplies" name="petsupplies" value="0" onclick='applyFilter("Pet Supplies")'>Pet Supplies
          <input type="checkbox" id="water-supplies" name="watersupplies" value="0" onclick='applyFilter("Water Supplies")'>Water Supplies
          <form action="/apply-filters" method="post">
            <input type="text" name="filters" id="filters" hidden>
            <button class="btn btn-secondary" style="font-size: 10px;">Apply</button>
          </form>

        </div>
        <div class="col-sm-8 col-md-8 col-lg-4 mx-auto">
          <section class="stores">
            <% for(let i in stores){ %>
            <div class="stores card card-signin my-4">
              <div class="card-header store-detail">
                <i class="fa fa-store"></i>
                <h4><%=stores[i].storeName%></h4>
              </div>
              <div class="card-body">
                <div class="store-detail">
                  <i class="fa fa-map-marked-alt"></i>
                  <h4><%=stores[i].storeArea%></h4>
                  <p>Area</p>
                </div>
                <div class="store-detail">
                  <i class="fa fa-map-marker-alt"></i>
                  <h4><%=stores[i].storeFullAddress%></h4>
                  <p>Full Address</p>
                </div>
                <div class="store-detail">
                  <i class="fa fa-address-book"></i>
                  <h4><%=stores[i].storeContact%></h4>
                  <p>Contact</p>
                </div>
                <div class="store-detail">
                  <i class="fa fa-landmark"></i>
                  <h4><%=stores[i].storeLandmark%></h4>
                  <p>Landmark</p>
                </div>
                <div class="store-detail">
                  <i class="fas fa-utensils"></i>
                  <h4><%=stores[i].storeItems%> </h4>
                  <p>Items</p>
                </div>
                <div class="store-detail">
                  <i class="fa fa-home"></i>
                  <h4><%=stores[i].storeDelivery%></h4>
                  <p>Providing home delivery?</p>
                </div>
              </div>
            </div>
            <br>
            <% } %>
          </section>
          <%}%>
      </div>
    </div>



    <section class="showcase"></section>
    <footer class="footer bg-light" style="margin-top: 70px;">
      <p class="text-muted small mb-4 mb-lg-0" style="text-align: center;">Made with ♥ by Vaibhav Muchandi and Varun Shiri</p>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 my-auto h-100 text-center text-lg-left">
            <ul class="list-inline mb-2">
              <li class="list-inline-item"><a href="/">Home</a></li>
              <li class="list-inline-item"><span>⋅</span></li>
              <li class="list-inline-item"><a href="/add-store">Add your store</a></li>
              <li class="list-inline-item"><span>⋅</span></li>
              <li class="list-inline-item"><a href="/list-stores">Search stores</a></li>
              <li class="list-inline-item"><span>⋅</span></li>
              <li class="list-inline-item"><a href="https://wa.me/918105937586">Contact</a></li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">© CoronaFight 2020. All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 my-auto h-100 text-center text-lg-right">
           <ul class="list-inline mb-0">
            <li class="list-inline-item"><a href="https://www.facebook.com/vaibhavmuchandii"><i class="fab fa-facebook fa-2x fa-fw"></i></a></li>
            <li class="list-inline-item"><a href="https://www.twitter.com/vaibhavmuchandi"><i class="fab fa-twitter fa-2x fa-fw"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/vaibhav.muchandi"><i class="fab fa-instagram fa-2x fa-fw"></i></a></li>
            <li class="list-inline-item"><a href="https://wa.me/918105937586"><i class="fab fa-whatsapp fa-2x fa-fw"></i></a></li>
          </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMtQOCpkOkgSeVgBwwtPrUh5A9QW32iqc&libraries=places"></script>
  <script src="assets/js/google-address-autocomplete.min.js"></script>
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script>
  let filters = []
    function applyFilter(filter) {
        filters.push(filter)
        console.log(filters)
        document.getElementById('filters').value = filters
    }

    var placeid = ""
    function set() {
      document.getElementById('resultid').value = placeid;
    }

    const options = {
      componentRestrictions: {
        country: "in"
      }
    };
    new AddressAutocomplete('#autocomplete', options, function(result, rawResponse) {
      console.log(result);
      //console.log(rawResponse.place_id);
      placeid = rawResponse.place_id
      set()
    });
  </script>

</html>