<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Home - Brand</title>
  <link rel="stylesheet" href="assets/bootstrap/css/styles.css">
  <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
  <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-light navbar-expand bg-light navigation-clean">
    <div class="container"><a class="navbar-brand" href="#">CoronaFight</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"></button>
      <div class="collapse navbar-collapse" id="navcol-1"><a class="btn btn-primary" role="button" href="/add-store">Add your store!</a></div><a class="btn ml-auto" role="button" href="/login">Sign In</a><a class="btn btn-primary" role="button"
        href="/signup">Sign Up</a>
    </div>
    </div>

  </nav>

  <form action="/list-stores" method="POST" style="margin-top:50px;">
    <div class=" form-row">
      <div class="col-1 col-md-3"> </div>
      <div class="col-10 col-md-5 mb-1 mb-md-0">
        <input class="form-control form-control-lg" type="text" id="autocomplete" name="autocomplete" size="50" placeholder="Enter your location" />
      </div>
      <div class="col-4 col-md-1"></div>
      <input type="text" id="resultid" name="resultid" hidden>
      <div class="col-4 col-md-1"><button class="btn btn-primary btn-block btn-lg">Search</button></div>
    </div>
  </form>

  <%if (message) {%>
  <div class="col-sm-12 col-md-2 col-lg-3 mx-auto"></div>
  <div class="col-sm-12 col-md-8 col-lg-6 mx-auto" style="text-align: center; margin-top:50px;">
    <h4><%=message%></h4>
    <br>
  </div>
  <%}%>

    <% if(stores.length!=0) {%>
  <div class="container">
    <div class="col-sm-12 col-md-2 col-lg-3 mx-auto"></div>
    <div class="col-sm-12 col-md-8 col-lg-6 mx-auto">
      <section class="stores">
        <% for(let i in stores){ %>
        <div class="stores card card-signin my-4">
          <div class="card-header store-detail">
            <i class="fa fa-store"></i>
            <h4><%=stores[i].storeName%></h4>
          </div>
          <div class="card-body">
            <div class="store-detail">
              <i class="fa fa-map-marker-alt"></i>
              <h4><%=stores[i].storeFullAddress%></h4>
              <p>Full Address</p>
            </div>
            <div class="store-detail">
              <i class="fa fa-address-book"></i>
              <h4><%=stores[i].storeContact%></h4>
              <p>Contact</p>
            </div>
            <div class="store-detail">
              <i class="fa fa-landmark"></i>
              <h4><%=stores[i].storeLandmark%></h4>
              <p>Landmark</p>
            </div>
            <div class="store-detail">
              <i class="fas fa-utensils"></i>
              <h4><%=stores[i].storeItems%></h4>
              <p>Items</p>
            </div>
          </div>
        </div>
        <br>
        <% } %>

      </section>
      <%}%>
      </div>
    </div>


    <section class="showcase"></section>
    <footer class="footer bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 my-auto h-100 text-center text-lg-left">
            <ul class="list-inline mb-2">
              <li class="list-inline-item"><a href="#">About</a></li>
              <li class="list-inline-item"><span>⋅</span></li>
              <li class="list-inline-item"><a href="#">Contact</a></li>
              <li class="list-inline-item"><span>⋅</span></li>
              <li class="list-inline-item"><a href="#">Terms of &nbsp;Use</a></li>
              <li class="list-inline-item"><span>⋅</span></li>
              <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
            </ul>
            <p class="text-muted small mb-4 mb-lg-0">© CoronaFight 2020. All Rights Reserved.</p>
          </div>
          <div class="col-lg-6 my-auto h-100 text-center text-lg-right">
            <ul class="list-inline mb-0">
              <li class="list-inline-item"><a href="#"><i class="fa fa-facebook fa-2x fa-fw"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-twitter fa-2x fa-fw"></i></a></li>
              <li class="list-inline-item"><a href="#"><i class="fa fa-instagram fa-2x fa-fw"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDMtQOCpkOkgSeVgBwwtPrUh5A9QW32iqc&libraries=places"></script>
  <script src="assets/js/google-address-autocomplete.min.js"></script>
  <script src="assets/js/jquery.min.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>
  <script>
    var placeid = ""

    function set() {
      document.getElementById('resultid').value = placeid;
    }
    const options = {
      componentRestrictions: {
        country: "in"
      }
    };
    new AddressAutocomplete('#autocomplete', options, function(result, rawResponse) {
      console.log(result);
      //console.log(rawResponse.place_id);
      placeid = rawResponse.place_id
      set()
    });
  </script>

</html>